Source: bunsen-os-release
Section: admin
Priority: optional
Maintainer: Jens John <dev@2ion.de>
Build-Depends: debhelper (>= 9), config-package-dev (>= 5.1), pandoc, make
Standards-Version: 3.9.5
Homepage: https://github.com/bunsenlabs/bunsen-os-release
Vcs-Browser:  https://github.com/bunsenlabs/bunsen-os-release
Vcs-Git:  https://github.com/bunsenlabs/bunsen-os-release.git

Package: bunsen-os-release
Architecture: all
Depends: ${misc:Depends}, bunsen-python-apt-template
Recommends: systemd, lsb-release
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Provides /etc/os-release and /etc/lsb-release for BunsenLabs GNU/Linux
 The contents of /etc/lsb-release are used by lsb_release(1) and various shell scripts
 to obtain information about the running system. /etc/os-release(5) is a systemd
 specification and contains similar, but also more comprehensive information.

Package: bunsen-python-apt-template
Architecture: all
Depends: ${misc:Depends}
Enhances: software-properties-gtk, software-properties-kde
Description: Provides a distribution template for python-apt
 Distribution templates used by python-apt are essential to the correct
 functioning of tools depending on that library, for example
 software-properties-{kde,gtk}.  Hitherto, due to the absence of a
 BunsenLabs-specific template, these tools were broken on BunsenLabs.
 .
 This package resolves these issues insofar as tools do not hard-code
 distribution names.
